<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Welcome to team 2ne1!
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
       
        <div class="box-body">
		
			<h1 align="center"> WELCOME to ECommerce Webapp v3! </h1>
			<img class="img-responsive center-block" src=/welcome.png alt="User profile picture">
			<h4 align="center">Click on the navigation bar to navigate!</h4>
			<h4 align="center">Created by:</h4>
			<h4 align="center">Julius Robert Javier</h4>
			<h4 align="center">Charlene Dianne Nicomedes</h4>
			<h4 align="center">PUP BS Computer Engineering 5-1</h4>
        </div>
        
		<!-- /.box-body -->
         </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>